.description {
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    color: black;
    margin: 250px;
    color: white;
    
    
}

 .title2 {
    display: flex;
    flex-direction: column;
   
    margin: 150px;
    
    
} 

.text {
    font-size: 80px;
}

.text2 {
    font-size: 40px;
}

